<plugin name='risk-analytics-property-casualty' version='1.5.0.2-kti' grailsVersion='1.3.7 &gt; *'>
  <author>Intuitive Collaboration AG</author>
  <authorEmail>info (at) intuitive-collaboration (dot) com</authorEmail>
  <title>Property Casualty Library and Example Models</title>
  <description>\

</description>
  <documentation>http://www.pillarone.org</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>PropertyCasualtiesBootStrap</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>